
<aside class="l-sidebar">

  <section class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">LATESTS</div>
    </div>
    <div class="list-group">
      {{ range first 10 .Site.RegularPages }}
      <a href="{{ .Permalink }}" class="list-group-item">{{ .Title }}</a>
      {{ end }}
    </div>
  </section>

  <section class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">TAG</div>
    </div>
    <div class="list-group">
      {{ range first 10 .Site.Taxonomies.tags.ByCount }}
      <a href="{{ $.Site.BaseURL}}tags/{{ .Name | urlize }}" class="list-group-item">{{ .Name }} ({{ .Count }})</a>
      {{ end }}
    </div>
  </section>

  <section class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">ARCHIVE</div>
    </div>
    <div class="list-group">
      {{ range first 10 .Site.Taxonomies.archives.Alphabetical.Reverse }}
      <a href="{{ $.Site.BaseURL}}archives/{{ .Name | urlize }}" class="list-group-item">{{ .Name }} ({{ .Count }})</a>
      {{ end }}
    </div>
  </section>

</aside>

