name: Release (workflow_call)
on:
  workflow_call:
    inputs:
      is_release:
        type: boolean
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: aquaproj/aqua-installer@11dd79b4e498d471a9385aa9fb7f62bb5f52a73c # v4.0.4
        with:
          aqua_version: v2.56.3
      - run: npm ci
      - run: npm run build
      - run: echo "techblog.szksh.cloud" > build/CNAME
      - uses: peaceiris/actions-gh-pages@4f9cc6602d3f66b9c108549d475ec49e8ef4d45e # v4.0.0
        if: inputs.is_release
        with:
          github_token: ${{ github.token }}
          publish_dir: ./build
          destination_dir: ./docs
